<%= form_with model: @categories, url: '/categories/new' do |f| %>
  <div>
    カテゴリー
    <div id="select-wrap">
      <%= f.collection_select :ancestry, @maincategories, :id, :name, {include_blank: "___"}, {id: "parent-category" } %>
    </div>
  </div>
<% end %>